/* Fondo de la página */
body {
    background-color: #056074;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Asegura que el título siempre esté arriba */
.titulo {
    text-align: center;
    padding: 20px;
    background-color: #00B8E1;
    color: white;
    font-size: 24px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Contenedor para centrar el formulario */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el formulario */
    justify-content: center;
    padding: 20px;
}

/* Formulario */
form {    
    padding: 20px;
    border-radius: 8px;
    border: 5px solid white;
    width: 450px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Etiquetas */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #056074;
}

/* Campos de entrada */
input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón */
button {
    background-color: #00B8E1;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background-color: #056074;
}

/* Título */
h1 {
    color: #00dcf1;
    margin-top: 0.2rem;
}

/* Responsividad */
@media (max-width: 768px) {
    form {
        width: 100%;
        max-width: 90%;
    }
    table.dataTable {
        font-size: 12px;
    }
}






/* Contenedor general */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el formulario */
    justify-content: flex-start;
    padding: 20px;
    min-height: 100vh;
}

/* Estilo para el título */
h1 {
    color: #00dcf1;
    margin-bottom: 20px;
}

/* Estilo del formulario */
.form {
    padding: 10px;
    border-radius: 8px;
    border: 20px solid white;
    width: 450px;
    background-color: white;
}

/* Estilo de las etiquetas */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

/* Estilo de los inputs */
input {
    width: 98.3%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo del botón */
button {
    background-color: #00B8E1;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background-color: #056074;
}

textarea {
    width: 100%; /* Se ajusta al tamaño del div contenedor */
    box-sizing: border-box; /* Evita que el padding afecte el ancho total */
    font-size: 15px;
}


.form-nuevo-estudio {
    width: 1000px;
}