/* Estilos generales para la página de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    background-color: transparent;
}

.login-box {
    background-color: #000;
    padding: 30px;
    padding-top: 10px;
    border-radius: 25px;
    width: 100%;
    max-width: 420px;
    border: solid 2px #65D0E8;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #00DCF1;
    margin-bottom: 3rem;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: -1px;    
    margin-left: 30px;
    font-weight: 600;
    color: #00DCF1;
}

.input-field {
    width: 89%;
    padding: 15px;
    padding-left: 30px;
    border-radius: 40px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background-color: #65D0E8;
    color: white;
}

.input-field:focus {
    color: white;
    outline: none;
}

/* Autofill en Chrome */
.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus,
.input-field:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #65D0E8 inset !important;
    background-color: #65D0E8 !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
}

.error-message {
    color: red;
    font-size: 12px;
}

.forgot {    
    text-align: right;    
    margin-top: -1.5rem;

}

.forgot-password-link {
    margin-bottom: 2.5rem;
    margin-right: 0.3rem;
    font-size: 14px;
    font-weight: 600;
    color: #00DCF1;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: #3C7A87;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.submit-btn:hover {
    color: white;
    background-color: #3C7A87;
}
